x§* {
  user-select: none;
}

body {
  margin: 0;
  background: url("/static/img/home_background.jpg") no-repeat;
  background-size: cover;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  color: White;
  text-align: center;
  padding-top: 50px;
}

p {
  color: white;
  text-align: center;
}

ul {
  border-bottom: 0.1px solid white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(37, 37, 37);
}

.button {
  padding: 5px 5px;
  background-color: white;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 40px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  outline: none;
  cursor: pointer;
  box-shadow: 0 6px #999;
}

.button:hover {
  background-color: lightgray;
}

.button:active {
  background-color: gray;
  box-shadow: 0 4px #666;
  transform: translateY(2px)
}

.content {
  margin: auto;
  max-width: 1000px;
  height: 950px;
  margin-top: 46px;
  padding-bottom: 60px;
  background-color: black;
  color: white;
}

.center {
  margin: auto;
}

.button-pack {
  text-align: center;
}

.footer {
  color: white;
  text-align: center;
  margin: 30px;
}

.account_page {
  font-size: 18px;
}

.login {
  text-align: center;
}

input {
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: 32px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
  font-size: 20px;
}

.button_diff {
  padding: 5px 5px;
  background-color: white;
  width: 140px;
  height: 28px;
  border: none;
  border-radius: 7px;
  margin-top: 15px;
  font-size: 15px;
  color: black;
  outline: none;
  cursor: pointer;
  box-shadow: 0 6px #999;
}

.button_diff:hover {
  background-color: lightgray;
}

.button_diff:active {
  background-color: gray;
  box-shadow: 0 4px #666;
  transform: translateY(2px)
}

hr {
  height: 0.1px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
}

h2 {
  text-align: center;
}

.aspec {
  font-size: 20px;
  color: white;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}