<!DOCTYPE html>
<html lang="en">
<title>Food Finder</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
    body {
        font-family: "Lato", sans-serif
    }
</style>

<body>

    <!-- <img src="{{ li[1].div.img['data-src'] }}"> -->


    <div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/liked">Liked</a></li>
            <li style="float:right"><a href="/account">Account</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="center" style="max-width:700px;">
            <h1>RESTAURANTS</h1>
            <p><i>Pick what you like!</i></p><br>
        </div>
        <hr style="width: 70%;">
        <div class="center" style="max-width:700px;">
            <div id="slide">
                <h2 id="restaurant-name">restaurant name</h2>
                <p style="font-size: 20px;"id="restaurant-food-type">food type</p>
                <a class="aspec" style="text-decoration: none;" id="restaurant-link" href="https://example.com">Website</a>
                <img class="imgcntr"  id="restaurant-image" src="{{ li[1].div.img['data-src'] }}" style="width:100%; max-height: 300px;">
                <p style="font-size: 20px;"id="restaurant-location">location</p>
            </div>
            <div class="button-pack">
                <button class="button">Like</button>
                <button class="button" onclick="changeSlide()">Pass</button>
            </div>
        </div>
        <hr style="width: 70%;">
        <footer class="footer">
            <a>foodfinder@gmail.com</a>
        </footer>
    </div>

    <script>
        const restaurantArray = {{restaurants|safe}};
        const numRestaurants = restaurantArray.length;
        
        let index = 1;
        updateSlide();

        updateSlide();

        function changeSlide(n = 1) {
            index += n;
            updateSlide();
        }

        function updateSlide() {
            index = (index + numRestaurants) % numRestaurants;

            const slide = document.getElementById("slide");
            slide.querySelector("#restaurant-name").innerHTML = restaurantArray[index][1];
            slide.querySelector("#restaurant-food-type").innerHTML = restaurantArray[index][2];
            slide.querySelector("#restaurant-location").innerHTML = restaurantArray[index][3];
            slide.querySelector("#restaurant-image").src = restaurantArray[index][4];
            slide.querySelector("#restaurant-link").href = restaurantArray[index][5];

        }
    </script>

</body>

</html>