<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device width, initial scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>Liked</title>
</head>

<style>
    body {
        font-family: "Lato", sans-serif
    }
</style>


<body>
  <div><form action="/nav" method="post">
      <ul>
          <li><input type="submit" value="Home" name="homeButton"/></li>
          <li><input type="submit" value="Liked" name="likedButton"/></li>
          <li style="float:right"><input type="submit" value="Account" name="accountButton"/></li>
      </ul>
  </form></div>

    <div class="content">

    </div>

    <footer class="footer">
        <a>foodfinder@gmail.com</a>
    </footer>
</body>

</html>
