<!DOCTYPE html>
<html lang="en">
<title>Liked</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

<style>
  body {
    font-family: "Lato", sans-serif
  }
</style>


<body>
  <div>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/liked">Liked</a></li>
      <li style="float:right"><a href="/account">Account</a></li>
    </ul>
  </div>

  <div class="content">
    {%for i in range(0, len)%}
    <!---->
    <div>
      <h2>{{likedRestaurants[i][2]}}</h2>
      {{likedRestaurants[i]}}
      <div><a href={{likedRestaurants[i][6]}}>Website</a></div>
      <img src={{likedRestaurants[i][4]}} alt={{likedRestaurants[i][2]}}/>
    </div>

    <!---->
    {%endfor%}
  </div>

  <footer class="footer">
    <a>foodfinder@gmail.com</a>
  </footer>
</body>

</html>