<!DOCTYPE html>
<html lang="en">
<title>Sign In</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

<style>
    body {
        font-family: "Lato", sans-serif
    }
</style>


<body>
    <div class="login">
        <form action="/signIn" , method='get'>
            <p>Welcome back</p>
            <input type="text" placeholder="Username" name="Username">
            <br><br>
            <input type="password" placeholder="Password" name="Password">
            <br><br><br>
            <input type="submit" class="button" value="Login" name="Login">
            <br><br>
        </form>
    </div>
</body>

</html>