<!DOCTYPE html>
<html lang="en">
<title>Sign In</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

<style>
    body {
        font-family: "Lato", sans-serif
    }
</style>

<body>
    <div class="login">
        <form action="/addUserAccount" method="'get">
            <p>Register</p>
            <input type="text" placeholder="Email" name="Email">
            <br><br>
            <input type="password" placeholder="password" name="Password">
            <br><br>
            <input type="password" placeholder="confirm password" name="confirmPassword">
            <br><br><br>
            <input type="submit" class="button" value="Sign Up" name="pass">
            <br><br>
        </form>
    </div>
</body>

</html>