<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device width, initial scale=1.0">
    <link rel="stylesheet" href="../static/signin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>Sign Up</title>
</head>

<style>
    body {
        font-family: "Lato", sans-serif
    }
</style>

<body>
    <div class="login">
        <form action='/addUserAccount' method='get'>
            <p>Register</p>
            <input type="text" placeholder="email" name="Email" value="">
            <br><br>
            <input type="password" placeholder="password" name="Password">
            <br><br>
            <input type="password" placeholder="confirm password" name="confirmPassword">
            <br><br><br>
            <input type="submit" class="button" value="SignUp" name="pass">
            <br><br>
        </form>
    </div>
</body>

</html>
