<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device width, initial scale=1.0">
  <link rel="stylesheet" href="../static/signin.css">
  <title>Loginpage</title>
</head>

<body>
  <form action='/signIn' method='get' class="login">
    <p>Welcome back</p>
    <input type="text" placeholder="Email" name="email" value="">
    <input type="password" placeholder="Password" name="password" value="">
    <input type="submit" class="submit" value="Login">
  </form>

</body>

</html>
